body{
    font-family: "Inter", sans-serif;
    background-color: black;
}

h1{
    font-family: "Inter", sans-serif;
    font-weight: 700;
}
p{
    font-family: "Inter", sans-serif;
}

.navbar-brand{
    font-weight: 600;
}

.primaire{
    background-color: #8b5cf6;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    padding: 12px 17px;
    border-radius: 15px;
    align-self: center;
}
.secondaire{
    background-color: #5a595c6d;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    padding: 13px 17px;
    border-radius: 15px;
    align-self: center;
}

.avantages h5{
    color: #8b5cf6; 
    font-weight: 400;
    font-family: "Inter", sans-serif;
}
.avantages h1{
    color: #ffffff; 
    font-weight: 800;
    font-size: clamp(1.8rem 3.5vw 2.8rem);
}
.avantages p{
    font-size: 1rem;
    max-width: 600px; 
    margin: auto; 
    padding-bottom: 25px; 
    line-height: 1.9;
} 